@use '@/styles/global' as *;

.tree {
  display: flex;
  flex-direction: column;
  gap: $s2;
  width: 100%;
  font-size: $fontSizeSm;
  color: $textLight;

  &--empty {
    opacity: 0.8;
  }

  &__empty {
    font-size: $fontSizeSm;
    padding: $s4 $s4;
    color: rgba($textLight, 0.72);
  }
}
