@use '@/styles/global' as *;

.tree {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
  font-size: $fontSizeSm;
  color: $textLight;

  &--empty {
    opacity: 0.8;
  }

  &__empty {
    font-size: $fontSizeSm;
    padding: 4px 4px;
    color: $textMutedLight;
  }
}
