@use '@/styles/global' as *;

.button-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  background: transparent;
  border: none;
  cursor: pointer;

  padding: $s6;
  border-radius: $s6;

  color: $buttonLight;

  transition:
    background $transition,
    transform $transition;

  &:hover {
    background: $hoverLight;
  }

  &:active {
    transform: scale(0.95);
  }

  &:disabled {
    opacity: 0.4;
    cursor: default;
    pointer-events: none;
  }

  &--sm {
    width: $s24;
    height: $s24;
  }

  &--md {
    width: $s32;
    height: $s32;
  }

  &--lg {
    width: $s40;
    height: $s40;
  }
}
