@use '@/styles/global' as *;

.app-layout {
  display: flex;
  height: 100vh;
  width: 100%;
  background: $color-bg;
  color: $color-text;
}

.app-layout__sidebar {
  flex: 0 0 auto;
  width: 300px;
  min-width: 300px;
  max-width: 520px;
  position: relative;

  background: $color-bg;
  border-right: 1px solid $color-border;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.app-layout__resizer {
  position: absolute;
  top: $space-0;
  right: $space-0;
  width: $space-8;
  height: 100%;
  cursor: col-resize;
}

.app-layout__sidebar-content {
  flex: 1;
  min-height: $size-0;
  min-width: $size-0;
  overflow: hidden;
}

.app-layout__sidebar-bottom {
  height: $size-48;
  flex-shrink: 0;
  border-top: 1px solid $color-border;
  background: $color-bg;
}

.app-layout__content {
  flex: 1;
  min-width: $size-0;
  padding: $space-24;
  overflow-y: auto;
  background: $color-surface;
}
