@use '@/styles/global' as *;

.app-layout {
  display: flex;
  height: 100vh;
  width: 100%;
  background: $color-bg;
  color: $color-text;

  &__sidebar {
    width: 240px;
    background: $color-surface;
    color: $color-text;
    display: flex;
    flex-direction: column;
    border-right: 1px solid $color-border;
  }

  &__menu {
    width: 56px;
    background: $color-surface;
    border-right: 1px solid $color-border;
  }

  &__content {
    flex: 1;
    padding: $space-24;
    overflow-y: auto;
    background: $color-bg;
    color: $color-text;
  }
}
