@use '@/styles/global' as *;

.app-layout {
  display: grid;
  grid-template-columns: 70px 300px 1fr;
  height: 100vh;
  width: 100%;
  background: $backgroundLight;

  &__sidebar {
    background: $backgroundDark;
    color: $textLight;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: $s16;
    gap: calc(#{$s16} * 1.5);

    border-right: 1px solid rgba($white, 0.08);
  }

  &__menu {
    background: $backgroundDark;
    color: $textLight;

    display: flex;
    flex-direction: column;

    overflow-y: auto;
    overflow-x: hidden;
  }

  &__content {
    padding: $s24;
    overflow-y: auto;

    color: $textDark;
    background: $backgroundLight;
  }
}
