@use '@/styles/global' as *;

.button-text {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: $s6 $s12;
  border-radius: $s6;
  cursor: pointer;

  font-size: $fontSizeMd;
  font-weight: $fontWeightRegular;

  transition:
    background $transition,
    border-color $transition,
    transform $transition;

  &--filled {
    background: $buttonDark;
    color: $textLight;
    border: none;

    &:hover {
      background: $hoverDark;
    }
  }

  &--outline {
    background: transparent;
    border: 1px solid $buttonDark;
    color: $textDark;

    &:hover {
      background: $hoverLight;
      border-color: $buttonDark;
    }
  }

  &:active {
    transform: scale(0.97);
  }

  &:disabled {
    opacity: 0.4;
    cursor: default;
  }

  &--sm {
    font-size: $fontSizeSm;
    padding: $s4 $s8;
  }

  &--md {
    font-size: $fontSizeMd;
    padding: $s6 $s12;
  }

  &--lg {
    font-size: $fontSizeLg;
    padding: $s8 $s14;
  }
}
