@use '@/styles/global' as *;

.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: $textLight;
  padding: $s16 $s12;
  gap: $s16;
}

.menu__actions {
  display: flex;
  flex-direction: row;
  gap: $s12;
  align-items: center;
}

.menu__label {
  display: flex;
  align-items: center;
  gap: $s8;
  font-size: $fontSizeSm;
  font-weight: $fontWeightBold;
  opacity: 0.9;
}

.menu__label-icon {
  font-size: $fontSizeMd;
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: $s6;
}

.menu__item {
  font-size: $fontSizeSm;
  opacity: 0.9;
  cursor: pointer;
  padding: $s6 $s4;
  border-radius: $s4;

  &:hover {
    background: $hoverLight;
  }
}
