@use '@/styles/global' as *;

.button-status {
  display: flex;
  align-items: center;
  justify-content: center;

  background: transparent;
  border: none;
  cursor: pointer;

  padding: 2px;
  border-radius: 4px;

  transition:
    background 0.15s ease,
    transform 0.15s ease;

  color: $buttonLight;

  &:hover {
    background: $hoverLight;
  }

  &:active {
    transform: scale(0.95);
  }

  &:disabled {
    opacity: 0.4;
    cursor: default;
    pointer-events: none;
  }

  &--sm {
    width: 12px;
    height: 12px;
  }

  &--md {
    width: 22px;
    height: 22px;
  }

  &--lg {
    width: 28px;
    height: 28px;
  }

  &--none {
    color: $statusNull;
  }

  &--urgent {
    color: $statusUrgent;
  }

  &--completed {
    color: $statusCompleted;
  }

  &--waiting {
    color: $statusWaiting;
  }

  &--review {
    color: $statusReview;
  }
}
