@use '@/styles/global' as *;

.button-status {
  display: flex;
  align-items: center;
  justify-content: center;

  background: transparent;
  border: none;
  cursor: pointer;

  padding: $s2;
  border-radius: $s4;

  transition:
    background $transition,
    transform $transition;

  color: $buttonLight;

  &:hover {
    background: $hoverLight;
  }

  &:active {
    transform: scale(0.95);
  }

  &:disabled {
    opacity: 0.4;
    cursor: default;
    pointer-events: none;
  }

  &--sm {
    width: $s12;
    height: $s12;
  }

  &--md {
    width: $s22;
    height: $s22;
  }

  &--lg {
    width: $s28;
    height: $s28;
  }

  &--none {
    color: $statusNull;
  }

  &--urgent {
    color: $statusUrgent;
  }

  &--completed {
    color: $statusCompleted;
  }

  &--waiting {
    color: $statusWaiting;
  }

  &--review {
    color: $statusReview;
  }
}
